@using MitrosremERP.Aplication.ViewModels.IdentityVM;
@model ApplicationUserVM

@{
    ViewBag.Title = "Izmeni Korisnika";
}

<div class="container-fluid mt-5 mb-5 ">
        <form method="post" class="row" autocomplete="off" id="forma">
            <div class="px-3 col-xxl-9 col-lg-12">
                <div class="card mb-4 mb-xl-0">
                        <input asp-for="Id" hidden/>
                        <h-3 class="card-header bg-primary text-white">Izmeni Korisnika</h-3>

                   <div class="row px-3">
                            <div class="col-lg-4 col-sm-8 card-body">
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Ime"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bxs-user-circle'></i>
                                        </div>
                                        <input asp-for="Ime" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Ime" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Prezime"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bxs-user-circle'></i>
                                        </div>
                                        <input asp-for="Prezime" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Prezime" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Email"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bx-envelope'></i>
                                        </div>
                                        <input asp-for="Email" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="UserName"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bxs-user-detail'></i>
                                        </div>
                                        <input asp-for="UserName" class="form-control" />
                                    </div>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div> 
                          

                            <div class="col-lg-4 col-sm-8 card-body ">
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Mobilni"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bx-mobile'></i>
                                        </div>
                                        <input asp-for="Mobilni" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Mobilni" class="text-danger"></span>
                                </div>
                              
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Grad"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bxs-city'></i>
                                        </div>
                                        <input asp-for="Grad" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Grad" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Adresa"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <i class='bx bx-home'></i>
                                        </div>
                                        <input asp-for="Adresa" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Adresa" class="text-danger"></span>
                                </div>

                               
                                <div class="mb-3">
                                    <label class="small mb-1" asp-for="Role"></label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                    <i class='bx bxs-user-detail'></i>
                                     </div>
                                        <select asp-for="Role" asp-items="@Model.RoleList" class="small form-select">
                                            <option disabled selected>--Odaberi ulogu korisnika--</option>
                                        </select>
                                    </div>

                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>
                            </div>
                     </div>
                 </div>

            </div>
            <div class="col-xxl-3 col-lg-12 px-3">
                   <div class="card mb-4 mb-xl-0">
                          <div class="card-header bg-info text-white ">Uloge korisnika Hijerarhija</div>
                          <div class="card-body text-start ">
                                    <p>* SuperAdmin</p>
                                    <p>* Admin</p>
                                    <p>* AdministratorMaloprodaja</p>
                                    <p>* AdministratorCorn</p>
                                    <p>* AdministratorFinansije</p>
                                    <p>* AdministratorZaposleni</p>
                                    <p>* AdministratorVozila</p>
                                    <p>* Korisnik</p>
                          </div>
                    </div>
             </div> 

           
          
          
            <div class="col-8 px-3 py-3">
                <button type="submit" asp-action="UpdateUser" class="btn btn-success">Izmeni</button>
                <a asp-controller="Administration" asp-action="ListUsers" class="btn btn-secondary">Povratak na listu</a>
            </div>
      </form>

</div>

@section Scripts{
    @{
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

}