
@using MitrosremERP.Aplication.ViewModels.ZaposleniMitroSremVM;
@using MitrosremERP.Domain.Enum
<!-- Modal -->
@model KreirajUgovorVM
    <div class="modal-dialog modal-xl modal-dialog-centered ">
            <div class="modal-content">


                    <div class="modal-body p-0 m-0">
                        <h3> Greska, nije pronadjen ugovor</h3>
                    </div>
           
            </div>
      
    </div>
