<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link href="~/css/bootswatchthemes.css" rel="stylesheet" />
    <link href="~/css/profildetalji.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/profildetalji.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/sweetalert/css/sweetalert2.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="sidebar activate">
        <!-- ========== Logo ============  -->
        <div class="logobox">
            
                <img src="~/images/logo/logocorn.png" class="logocorn" />
           
            
                <img src="~/images/logo/logomitrosremcut.png" class="logomitrosrem" />
           
        </div>
        <!-----Togle------>
        <div class="toggle-sidebar">
            <i class="bx bx-menu"></i>
        </div>
        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">Kontrolna tabla</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Kontrolna tabla</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown" >
                <div class="title">
                    <a class="link">
                        <i class='bx bxs-user-rectangle'></i><span class="name">Zaposleni</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    @* @(ViewContext.RouteData.Values["controller"].ToString() == "Zaposleni" && ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active-link" : "") *@
                    <a href="#" class="link submenu-title">Zaposleni</a>
                    <a asp-controller="Zaposleni" asp-action="Index" asp-active="true" class="link">Lista Zaposlenih <i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Ugovori<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Bolovanja<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Godisnji Odmori<i class='bx bxs-chevron-right'></i></a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-book-alt'></i>
                        <span class="name">Vozila</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Posts<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link doted">Web Design<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Login Form<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Card Design<i class='bx bxs-chevron-right'></i></a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-line-chart'></i>
                        <span class="name">Analytics</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Analytics</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="name">Chart</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Chart</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-extension'></i>
                        <span class="name">Plugins</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Plugins<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">UI Face<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Pigments<i class='bx bxs-chevron-right'></i></a>
                    <a href="#" class="link">Box Icons<i class='bx bxs-chevron-right'></i></a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-compass'></i>
                        <span class="name">Explore</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Explore</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-history'></i>
                        <span class="name">History</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">History</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-cog'></i>
                        <span class="name">Settings</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">Settings</a>
                    <!-- submenu links here  -->
                </div>
            </li>
        </ul>
    </div>
   
    @*  ----Header menu--- *@
    <div class="main-content">
        <nav class="navbar navbar-expand-xl bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" asp-area="Customer" asp-controller="Home" asp-action="Index">

                                Pocetna
                              <span class="visually-hidden">(current)</span>
                               
                            </a>
                        </li>
@*                          @if (User.IsInRole(Roles.Role_Admin))
 *@                        { 
                            <li class="nav-item dropdown mx-2">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-expanded="false"> Administracija</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" id="register" asp-area="Identity" asp-page="/Account/Register">Registruj Korisnika</a>
                                    </li>
                                    <li><a asp-controller="Administration" asp-action="ListUsers" class="dropdown-item">Korisnici</a></li>
                                    <li><a class="dropdown-item">Uloge</a></li>
                                    <li><a class="dropdown-item">Uloge Korisnika</a></li>
                                </ul>
                            </li>
                         @* } *@                     
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
     @*    -----Under Header menu---- *@

   


   @*   --------Main-------- *@
        <main role="main" class="container-fluid">
            @await Html.PartialAsync("_Notification")
            @RenderBody()
        </main>

        <footer class="border-top footer py-2">
            <div>               
            &copy; 2023 - MitrosremERP - <a href="aleksandarhadzic.com">Aleksandar H.</a>            
             </div>
         </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
@*     <script src="~/js/site.js" asp-append-version="true"></script>
 *@     <script src="~/js/navbar.js"></script>   
     <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <script src="~/js/serbiandatepicker.js"></script>
    <script src="~/sweetalert/js/sweetalert2.min.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
