@page
@model EmailModel
@{
    ViewData["Title"] = "Uredi E-postu";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4 class="px-3 mt-xxl-0 mt-lg-3 mt-sm-3">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row px-3">
    <div class="col-xxl-11">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Molim vas unesite vas email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Molim vas unesti e-postu." disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Posalji verifikacionu e-postu</button>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Molim vas unesite e-postu." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <div class="py-3">
                <button type="submit" class="btn btn-success">Izmeni e-postu</button>
               <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Zatvori</a>
            </div>
@*             <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Izmeni e-postu</button>
 *@        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
