@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrdi Email";
}
<div class="mt-5 card">
    <h3 class="card-header text-success">Email potvrdjen</h3>
    <div class="card-body">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>

