@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Potvedjena promena email-a";
}

<div class="mt-5 card">
    <h3 class="card-header text-success">Email uspesno promenjen</h3>
    <div class="card-body">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>

