@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zaboravljena Lozinka potvrda";
}
<div class="mt-5 card">
    <h3 class="card-header text-success">Promena lozinke</h3>
        <div class="card-body">
            <p>
                Link za promenu lozinke je poslat na email adresu

            </p>
            <p>
                Proverite email kako bi ste promenuli lozinku.
            </p>
         </div>
</div>