@page
@model LoginModel

@{
    ViewData["Title"] = "Uloguj se";
}

<form id="account"  method="post" >
    <div class="px-3 d-flex justify-content-center mb-5" style="margin-top: 80px;">
        <div class="mb-5 row col-xxl-7 col-sm-12 shadow bg-body rounded">
            <div class="col-xxl-8 col-xl-8  bg-white py-2">
                <div class="row px-xxl-5 px-xl-3 mt-4 ">
                    <h4 class="mx-0 card-header ">Uloguj se</h4>
                    <div class="col-lg-4 col-sm-8 mt-5 card-body">
                        <div class="mb-2">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="ime@primer.com" />
                                    <label asp-for="Input.Email" class="form-label">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="lozinka" />
                                    <label asp-for="Input.Password" class="form-label">Lozinka</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                               
                                <div class="w-100 d-flex my-4 justify-content-center">
                                    <button id="login-submit" style="width:100%;" type="submit" class=" btn btn-xxl btn-primary">Uloguj se</button>
                                </div>
                            <div class="mt-4 d-flex justify-content-between">
                                <div class="checkbox mb-3">
                                    <label asp-for="Input.RememberMe" class="form-label text-primary">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                              
                                 <p>
                                    <a id="forgot-password" class="text-secondary-emphasis" asp-page="./ForgotPassword">Zaboravljena lozinka?</a>
                                </p> 

                            </div>
                       </div>
                    </div>
             
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 bg-primary ">
                <div class="row d-flex justify-content-center h-100 ">
                        <div class="my-3 w-75" >
                             <img class="img-fluid" src="/images/logo/logomitrosrem.png" />                 
                        </div>
                    <div class="row d-flex align-content-end mb-4">
                            <h5 class=" d-flex justify-content-center text-white ">Dobrodosli!</h5>
                            <h7 class=" d-flex justify-content-center text-white">web aplikacija Mitrosrem A.D.</h7>
                        </div>
                </div>
            </div>
        </div>
       
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
