@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Resetuj lozinku";
}
<div class="container-fluid mt-5 mb-5">
    <div class="col-lg-8 px-3">
        <div class="card mb-4 mb-xl-0">
            <h3 class="card-header bg-primary text-white">Resetuj Lozinku</h3>
            <div class="row px-3">
                <div class="col-lg-4 col-sm-8 card-body">
                    <div class="mb-3">

                        <h4>Resetuje Lozinku</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="">
                                            <form method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <input asp-for="Input.Code" type="hidden" />
                                                <div class="form-floating mb-3">
                                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                                    <label asp-for="Input.Email" class="form-label"></label>
                                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Molim vas ukucajte lozinku" />
                                                    <label asp-for="Input.Password" class="form-label"></label>
                                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Molim vas potvrdite lozinku" />
                                                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="w-100 btn btn-lg btn-primary">Resetuj</button>
                                            </form>
                                        </div>
                                    </div>
                     </div>
                 </div>                        
              </div>
        </div>   
     </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
