@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Email potvrda";
}


<div class="px-3 d-flex justify-content-center" style="margin-top: 80px;">
    <div class="card mb-5  col-7">
        <h4 class="card-header bg-primary text-white">Ponovo posalji email za potvrdu registracije</h4>
            <div class="row px-3">
                <div class="col-lg-4 col-sm-8 card-body mt-5">
                    <div class="mb-3">                       
                            <h5>Unesite adresu e-poste</h5>
                            <div class="row">
                                <div class="">
                                      <form method="post">
                                         <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                                          <div class="form-floating mb-3">
                                                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="ime@primer.com" />
                                                        <label asp-for="Input.Email" class="form-label"></label>
                                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                           </div>
                                           <button type="submit" class="w-100 btn btn-lg btn-secondary">Posalji</button>
                                      </form>
                                   </div>                         
                            </div>
                     </div>
                 </div>
            </div>                  
       </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
