<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="text-center">
        <h3 class="display-5 fw-bold">500</h3>
        <p class="fs-3"> <span class="text-danger">Doslo je do greske!</span> Stranica nije pronadjena, server je u prekidu.</p>
        <br />
        <p class="lead">
            Doslo je do prekida u konekciji sa bazom, radi se na otklanjanju problema. Hvala
        </p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Pocetna</a>
    </div>
</div>