@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetuj loznku potvrda";
}
<div class="mt-5 card">
    <h2 class="card-header text-success">Lozinka uspesno resetovana</h2>
    <div class="card-body">
        <p>
            Vaza lozinka je resetovana. Molim vas <a asp-page="./Login">kliknite da se ulogujete</a>.
        </p>
    </div>
</div>

