
@model MitrosremERP.Aplication.ViewModels.ZaposleniVM
@section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="container-xxl">
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <input asp-for="Zaposleni.Id" hidden />
        <input asp-for="Zaposleni.ImageUrl" hidden/>
        <div class="row justify-content-center p-1">
            <div class="border p-3 d-flex justify-content-center mt-4  row">
                <div class="row pb-2">
                    <h2 class="text-primary">@(Model.Zaposleni.Id != 0 ? "Update" : "Create") Zaposlenog</h2>
                    <hr />
                </div>

                <div class=" row d-flex justify-content-between ">
                    <div class="col-lg-6 col-sm-12 row m-0 p-0">
                        <div class="mb-3">
                            <label asp-for="Zaposleni.Ime"></label>
                            <input asp-for="Zaposleni.Ime" class="form-control" />
                            <span asp-validation-for="Zaposleni.Ime" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Zaposleni.Prezime"></label>
                            <input asp-for="Zaposleni.Prezime" class="form-control" />
                            <span asp-validation-for="Zaposleni.Prezime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 row m-0 p-0">
                        <div class=" mb-3">
                            <img class="form-control border-0 mx-auto d-block" style="width:200px; height:200px;" />
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-6 col-sm-12 row m-0 p-0">
                        <div class="mb-3">
                            <label asp-for="Zaposleni.JMBG"></label>
                            <input asp-for="Zaposleni.JMBG" class="form-control" />
                            <span asp-validation-for="Zaposleni.JMBG" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Zaposleni.Grad"></label>
                            <input asp-for="Zaposleni.Grad" class="form-control" />
                            <span asp-validation-for="Zaposleni.Grad" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Zaposleni.Adresa"></label>
                            <input asp-for="Zaposleni.Adresa" class="form-control" />
                            <span asp-validation-for="Zaposleni.Adresa" Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 row m-0 p-0">
                        <div class="mb-3">
                            <label asp-for="Zaposleni.Fiksni"></label>
                            <input asp-for="Zaposleni.Fiksni" class="form-control" />
                            <span asp-validation-for="Zaposleni.Fiksni" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Zaposleni.Mobilni"></label>
                            <input asp-for="Zaposleni.Mobilni" class="form-control" />
                            <span asp-validation-for="Zaposleni.Mobilni" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Zaposleni.Profesija"></label>
                            <input asp-for="Zaposleni.Profesija" class="form-control" />
                            <span asp-validation-for="Zaposleni.Profesija" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Zaposleni.RadnoMesto"></label>
                            <input asp-for="Zaposleni.RadnoMesto" class="form-control" />
                            <span asp-validation-for="Zaposleni.RadnoMesto" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row d-flex justify-content-between">
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label asp-for="Zaposleni.StepenStrucneSpremeId"></label>
                        <select asp-for="Zaposleni.StepenStrucneSpremeId" asp-items="@Model.StepenStrucneSpremeLista" class="form-select">
                            <option disabled selected>--Odaberi Stepen Obrazovanja--</option>
                        </select>
                        <span asp-validation-for="Zaposleni.StepenStrucneSpremeId" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-sm-12 mb-3">
                        <label asp-for="Zaposleni.Pol"></label>
                        <select asp-for="Zaposleni.Pol"  asp-items="@Model.OdaberiPolLista" class="form-select">
                            <option disabled selected>--Odaberi Pol--</option>
                        </select>
                        <span asp-validation-for="Zaposleni.Pol" class="text-danger"></span>
                    </div>

                    <div class=" col-12 mb-3">
                        <label asp-for="Zaposleni.ImageUrl"></label>
                        <input type="file" name="file" class="form-control" />
                        <span asp-validation-for="Zaposleni.ImageUrl" class="text-danger"></span>
                    </div>


                    <div class="col-12">
                        @if (Model.Zaposleni.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary">Create</button>
                        }
                        <a asp-controller="Zaposleni" asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

