

<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="text-center">
        <h3 class="display-5 fw-bold">404</h3>
        <p class="fs-3"> <span class="text-danger">Doslo je do greske!</span> Stranica nije pronadjena.</p>
        <p class="lead">
            Ne mozemo da pronadjemo korisnika. 
        </p>
        <a asp-controller="Administration" asp-action="ListUsers" class="btn btn-primary">Lista Administratora</a>
    </div>
</div>