@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

/* Variables  */
:root {
    --color_ActiveLink: #c73704;
    --color_SideBar: #e95420;
    --color_DropDown: #c73704;
    --color_Light1: #f2f2f2;
    --color_Light2: #f2f2f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.jmbgText{
    letter-spacing: 3px;
    color: red;
}

/* =============== Sidebar =============== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background-color: var(--color_SideBar);
    transition: all .5s ease;
    z-index: 100;
}
.sidebar.close {
        width: 78px;
}

/* --------- Logo ------------ */
.logobox {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

.sidebar.close .logobox .logocorn{
    transition: transform 0.3s;
    transform: rotate(360deg);
}
.sidebar.close .logobox .logomitrosrem {
    transition: all 0.5s ease-in-out;
}

.logomitrosrem {
    margin-right: 1px;
    width: 160px;
    transition: all 1s ease-in-out;
    overflow: auto;
}

.logocorn {
    width: 50px;
    margin-right: 1px;
    margin-left: 15px;
    transition: all .5s ease;
}

/* ---------- Sidebar List ---------- */
.sidebar-list {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

    .sidebar-list::-webkit-scrollbar {
        display: none;
    }

    .sidebar-list li {
        transition: all .5s ease;
    }

        .sidebar-list li:hover {
            background-color: var(--color_DropDown);
        }

        .sidebar-list li .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .5s ease;
            cursor: pointer;
        }

        .sidebar-list li.active .title {
            background-color: var(--color_ActiveLink);
            
        }

        .sidebar-list li.active .bxs-chevron-down {
            transition: all .5s ease;
            transform: rotate(180deg);
        }

        .sidebar-list li .title .link {
            display: flex;
            align-items: center;
           
        }

        .sidebar-list li .title i {
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
            color: var(--color_Light1);
            font-size: 20px;
           
        }

        .sidebar-list li .title .name {
            font-size: 18px;
            font-weight: 400;
            color: var(--color_Light1);
        }

        /* ---------------- Submenu ------------- */
        .sidebar-list li .submenu {
            width: 0;
            height: 0;
            opacity: 0;
            transition: all .5s ease;
        }

        .sidebar-list li.dropdown.active .submenu {
            width: unset;
            height: unset;
            opacity: 1;
            display: flex;
            flex-direction: column;
            padding: 6px 6px 14px 80px;
            background-color: var(--color_DropDown);
        }

.submenu .link {
    color: var(--color_Light2);
    font-size: 15px;
    padding: 5px 0;

    /*transition: all .5s ease;*/
}
.submenuZaposleni .active-link {
    /* Add your styles to highlight the active link here */
    font-weight: bold; /* Example: change font weight */
    color: white; /* Example: change text color */
    font-size: 15px;
    background-color: #e95420;
}
.submenuZaposleni a{

    color: white;
    font-size: 15px;

}
.submenu .active-link {
    /* Add your styles to highlight the active link here */
    font-weight: bold; /* Example: change font weight */
    color: white; /* Example: change text color */
    font-size: 15px;
   
}
.submenu .link:hover {
    color: white;
    font-size: 15px;
}
    .submenu .link:hover .bxs-chevron-right {
        visibility:visible;
        transition: all 0.5s ease;
       
    }
/*.submenu .link.active {
    color: white;
    font-weight: bold;
}*/
.bxs-chevron-right {
    visibility: hidden;
}
.active-link .bxs-chevron-right {
    visibility: visible;
}
.bxs-chevron-right{
    visibility:hidden;
}

.submenu-title {
    display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .logo-name,
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
    display: none;
}
.sidebar.close .logobox .logomitrosrem{
    display: none;
}
.sidebar.close .sidebar-list {
    overflow: visible;
}

    .sidebar.close .sidebar-list li {
        position: relative;
    }

        .sidebar.close .sidebar-list li .submenu {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 100%;
            top: -10px;
            margin-top: 0;
            padding: 10px 20px;
            border-radius: 0 6px 6px 0;
            height: max-content;
            width: max-content;
            opacity: 0;
            transition: all .5s ease;
            pointer-events: none;
           
        }

        .sidebar.close .sidebar-list li:hover .submenu {
            opacity: 1;
            top: 0;
            pointer-events: initial;
            background-color: var(--color_DropDown);
        }

.sidebar.close .submenu-title {
    display: block;
    font-size: 18px;
    color: var(--color_Light1);
}

/* =============== Main Section =============== */
.main-content {
    position: relative;
    background-color: white;
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all .5s ease;
    
}
.main-content main{
    min-height: 90%;
}
.sidebar.close ~ .main-content {
    left: 78px;
    width: calc(100% - 78px);
}

.toggle-sidebar {
    height: 60px;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    
}

.toggle-sidebar i {
        font-size: 35px;
        color: var(--color_Light1);
        margin-left: 20px;

    }
.footer {
    position:relative;
    bottom:0;
    transition: all .5s ease;
    text-align:center;
    height: 20px;
    max-height: 20px;
}

.sidebar.close ~ .footer {
    left: 78px;
    width: calc(100% - 78px);
}
/*------Togle bar----------*/


/* ============ Responsive / Breakpoints ========== */

@media only screen and (min-width: 1200px) {
    .main-content main {
        padding: 2px 50px;
      
    }

}


@media (max-width: 1080px) {
}

/* For Medium Devices */
@media (max-width: 774px) {
}



@media (max-width: 560px) {

   /*  .toggle-sidebar i {
     
    }
  .sidebar {
        width: 78px;
  
    }*/
   .sidebar.close {
        width: 78px;
    }
 
       /* .sidebar ~ .main-content {
            left: 78px;
            width: calc(100% - 78px);
        }*/

/*    .footer.close {
        left: 78px;
        width: calc(100% - 78px);   
        transition: all .5s ease;
        text-align: center;
        height: 3em;
        max-height: 3em;
        overflow-y: auto;
    }*/

/*

    .logomitrosrem {
        display: none;
    }*/

    /* ---------- Sidebar List ---------- */
    /*.sidebar-list {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

        .sidebar-list::-webkit-scrollbar {
            display: none;
        }

        .sidebar-list li {
            transition: all .5s ease;
        }

            .sidebar-list li:hover {
                background-color: var(--color_DropDown);
            }

            .sidebar-list li .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all .5s ease;
                cursor: pointer;
            }

            .sidebar-list li.active .title {
                background-color: var(--color_ActiveLink);
            }

            .sidebar-list li.active .bxs-chevron-down {
                transition: all .5s ease;
                transform: rotate(180deg);
            }

            .sidebar-list li .title .link {
                display: flex;
                align-items: center;
            }

            .sidebar-list li .title i {
                height: 50px;
                min-width: 78px;
                text-align: center;
                line-height: 50px;
                color: var(--color_Light1);
                font-size: 20px;
            }

            .sidebar-list li .title .name {
                font-size: 18px;
                font-weight: 400;
                color: var(--color_Light1);
            }*/

            /* ---------------- Submenu ------------- */
            /*.sidebar-list li .submenu {
                width: 0;
                height: 0;
                opacity: 0;
                transition: all .5s ease;
            }

            .sidebar-list li.dropdown.active .submenu {
                height: unset;
                opacity: 1;
                display: flex;
                flex-direction: column;
                padding: 6px 6px 14px 15px;
                background-color: var(--color_DropDown);
            }

    .submenu .link {
        color: var(--color_Light2);
        font-size: 15px;
        padding: 5px 0;*/
        /* transition: all .5s ease;*/
    /*}

        .submenu .link:hover {
            color: white;
            font-weight: bold;
        }

        .submenu .link.active {
            color: white;
            font-weight: bold;
        }

    .submenu-title {
        display: none;
    }*/


    /* ---------------- Submenu Close ------------- */
    /*.sidebar .logo-name,
    .sidebar .title .name,
    .sidebar .title .bxs-chevron-down {
        display: none;
    }

    .sidebar .logobox .logomitrosrem {
        display: none;
    }

    .sidebar .sidebar-list {
        overflow: visible;
    }

        .sidebar .sidebar-list li {
            position: relative;
        }

            .sidebar .sidebar-list li .submenu {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 100%;
                top: -10px;
                margin-top: 0;
                padding: 10px 20px;
                border-radius: 0 6px 6px 0;
                height: max-content;
                width: max-content;
                opacity: 0;
                transition: all .5s ease;
                pointer-events: none;
                align-content: center;
            }

            .sidebar .sidebar-list li:hover .submenu {
                opacity: 1;
                top: 0;
                pointer-events: initial;
                background-color: var(--color_DropDown);
            }

    .sidebar .submenu-title {
        display: block;
        font-style: 18px;
        color: var(--color_Light1);
    }*/
}
/* For Small Devices */
@media (max-width: 360px) {
}